.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-top: 10px ;
    padding-right: 10px ;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 150px;
    background-color: #e9ecef;
    border-radius: 2px ;
    color: black;
    text-align: center;
    padding: 8px 0;
    margin-right: 5px ;
    position: absolute;
    top: 110% ;
    right: 0 ;
    z-index: 1;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
